@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("img/clear-snake-game-character-z6jd7jtsl04g6mxx.jpg");
    background-size: contain;
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    
}

#help{
    position: absolute;
    top:360px;
    right: 110px;
    font-size: 33px;
    font-weight: 700;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
 
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 380px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 326px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    position: absolute;
    left:150px;
    top: 23px;
    background: url("img/37716068933bae2f9b11ff90bc91b015.jpg");
    background-size: 550px 580px; 
    background-repeat: no-repeat;
    background-position-y: -30px;
    background-position-x: -20px;
    opacity: 1;
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background-image: url("img/th-removebg-preview.png");
    opacity: 1;
    background-size: contain;
    transform: scale(1.5);
    border-radius: 9px;
}

.snake{
    background: url("img/snakeskin.jpeg");
    
    background-size: contain;
    border-radius: 12px;

    opacity: 1;
}

.food{
    background: url("img/th__1_-removebg-preview.png");
    background-size: contain;
    transform: scale(1.2);
    
}
